parameters:
  level: 3
  paths:
    - src
    - file-search-replace-command.php
  scanDirectories:
    - vendor/wp-cli/wp-cli/php
  scanFiles:
    - vendor/wp-cli/wp-cli/php/class-wp-cli-command.php
    - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
  treatPhpDocTypesAsCertain: false
